/* Personnalisation des trois éléments du haut de page */
#sectionTop {
    display: flex;
    margin-top: 4em;
    justify-content: space-around;
    align-items: center;
}

.create {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.displayMonths {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}


@media screen and (max-width: 550px) {
    #sectionTop {
        flex-direction: column;
    }
}

