body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Dimensions & positionnement des symboles / logos sur le header et le footer */

#copyright_symbol {
    width: 1rem;
}

#eye {
    width: 3rem;
    position: absolute;
    right: 2%;
}

#eye:hover {
    cursor: pointer;
}

/* Personnalisation du header */

header {
    height: 5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97FF73;    
}

#headerTitle {
    text-align: center;
    margin: 0;
}

/* Personnalisation du footer */

footer {
    height: 2.5rem;
    background-color: #97FF73;    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Bloc principal */

main {
    flex-grow: 1;
}

.toggle {
    background-color: black;
    color: white;
}

.white-eye {
    background: white;
}


