#sectionTop {
    display: flex;
    margin-top: 4rem;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.loginSection, .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginSection {
    margin-top: 4rem;
}

input {
    margin: 1rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    width: 15rem;
}
